body{
    background: #532CC3;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
} 

/* Foto y nombre */
header{
    text-align: center;
    padding: 0 auto;
}

header img{
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 20px;
}

header h1{
    font-size: 24px;
    color:white;
    text-decoration: none;
    margin: 15px;
}

/* Iconos a redes */
nav{
    text-align: center;
    margin-top: 5px;
}

nav a{
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
}

/* Sección con texto */
section p{
    font-size: 17px;
    text-align: center;
    margin: 0 auto;
    max-width: 70vh;
    padding: 10px;
}

/* Botones: intente mil formas para que quede perfecto centrado y no pude, segui el paso a paso de Mati, pero el usa una class en la section y ahi muestra otra cosa.*/
ul{
    text-align: center;
    margin: 0 auto;
    padding: 0px;
}

.btn ul{
    padding: 0;
    margin: 0;
}

.btn li{
    margin: 20px;
    list-style: none;
}

.btn a:link, .btn a:visited{
    text-decoration: none;
    background-color: white;
    color:black;
    display: inline-block;
    padding: 15px 30px;
    box-shadow: -5px 5px 0px rgba(0, 0, 0, .5);
}

.btn a:hover{
    background-color: black;
    color: white;
}

/* Pie de página*/
footer{
    text-align: center;
    margin-top: 50px;
}
hr{
    color: white;
    max-width: 50vh;
}
