body{
    font-family: Arial, Helvetica, sans-serif ;
    color: #3c4043;
    font-size: 14px;
    margin: 0px;
}

header{
    display: flex;
    justify-content: flex-end;
    
}

header ul{
    list-style: none;
    display: flex;    
}

header ul li a{
    padding: 10px;
    align-items: center;
    text-decoration: none;
    color: #3c4043;
    
}

.ingresar{
    border: 1px solid #1a73e8;
    border-radius: 4px;
    background-color: #1a73e8;
    color: white;
    font-weight: 600;
    min-width: 96px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 8px;
    padding: 9px 23px;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding-top:100px;
    flex: 1;
    box-sizing: border-box;
    
}

/*Buscador */
.contenedor-buscador{
    border: 1px solid #8e9295;
    border-radius: 25px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px 15px;
    height: 45px;
    width: 560px;
    display: flex;
    justify-content: space-around;
    max-width: 584px;
    margin: 0;
}

.input{
    font-family: arial,sans-serif;
    line-height: 22px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    background-color: transparent;
    border-style: none;
    border-color: transparent;
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 5px;
}


/*Botones del buscador */
.btn {
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}


/*Footer */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
}

footer a{
    display: block;
    padding: 15px;
    white-space: nowrap;
    color:#70757a;
    text-decoration: none;
}

.pais{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    padding: 5px 20px;
}


.footer-abajo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 15px;
}

.footer-abajo .derecha{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-abajo .izquierda{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}